apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: moath-webapp-prod
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/mmalkawi-tech/webapp-API.git
    targetRevision: main
    path: k8s/overlays/prod

  destination:
    server: https://kubernetes.default.svc
    namespace: moath-webapp-prod

  syncPolicy:
    # For production, use manual sync for better control
    automated:
      prune: false
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground

    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

  revisionHistoryLimit: 10
