apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-a-moath
  namespace: moath-webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-a-moath
  template:
    metadata:
      labels:
        app: backend-a-moath
    spec:
      containers:
      - name: backend-a
        image: acrmoath.azurecr.io/backend-a:latest
        ports:
        - containerPort: 3000

        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"

        env:
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: db-config-moath
              key: DB_HOST
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: db-config-moath
              key: DB_PORT
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: db-config-moath
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: db-config-moath
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret-moath
              key: POSTGRES_PASSWORD

        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10

        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 20
