apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-b-moath
  namespace: moath-webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-b-moath
  template:
    metadata:
      labels:
        app: backend-b-moath
    spec:
      containers:
      - name: backend-b
        image: acrmoath.azurecr.io/backend-b:latest
        ports:
        - containerPort: 3000

        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "750m"
            memory: "512Mi"

        env:
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: db-config-moath
              key: DB_HOST
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: db-config-moath
              key: DB_PORT
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: db-config-moath
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: db-config-moath
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret-moath
              key: POSTGRES_PASSWORD

        startupProbe:
          httpGet:
            path: /health
            port: 3000
          failureThreshold: 30
          periodSeconds: 10

        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 5

        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 60
          periodSeconds: 20
          timeoutSeconds: 2
          failureThreshold: 5
