apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: backend-b-hpa-moath
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: backend-b-moath
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
