apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: backend-b-allow-ingress-nginx-moath
spec:
  podSelector:
    matchLabels:
      app: backend-b-moath

  policyTypes:
  - Ingress
  - Egress

  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: ingress-nginx

  egress:
  - to:
    - ipBlock:
        cidr: 0.0.0.0/0
